*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

button{
 padding: 16px 16px;
 border: none;
 background: red;
 color: white;
 font-size: x-large;
 
 &:hover{
    color: black;
    cursor: pointer;
 }
}